/* All styles for header */


/* All styles for home page */
.home {
  text-align: center;
  margin-top: 30px;
}

.portal {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.portal-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.portal-link {
  width: 25%;
}


/* All styles for login pages */
.login {
  text-align: center;
  margin-top: 30px;
}

.login-card {
  width: 50%;
  margin: 0 auto;
}

.login-form-control {
  margin-top: 10px;
}